<p>
<h1 align="center">New Task</h1>
</p>

<%#= render 'form', task: @task %>

<%#= link_to 'Back', tasks_path %>


<div class="col-lg-6 mx-auto mt-4 text-center pt-1 bg-light">
  <%= render 'form', task: @task %>
</div>