<p>
  <br>
  <button type="button"><%= link_to "TAGS", tags_path %></button>
  <button type="button"><%= link_to "CATEGORIES", categories_path %></button>
  <button type="button"><%= link_to "TASKS", tasks_path %></button>
</p>