<!--<h1>New Category</h1>-->

<%#= render 'form', category: @category %>

<%#= link_to 'Back', categories_path %>

<p>
<h1 align="center">New Category</h1>
</p>

<div class="col-lg-6 mx-auto mt-4 text-center pt-1 bg-light">
  <%= render 'form', category: @category %>
</div>
